{% extends 'base.html.twig' %}

{% block body %}
    <section class="p-4">
        <div class="container">
            <div class="jumbotron text-center">
                <div class="m-4">
                    <h3> Clients zuordnen:</h3>
                </div>
                <form>
                    {% for client in clients %}
                    <div class="m-2">
                        <label class="font-weight-bold">{{client}}</label>
                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" id="{{client}}" data-width="120">
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-primary m-4">
                        Zuordnungen anpassen
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}