{% extends 'base.html.twig' %}
{% block body %}
    <section>
            <div class="d-flex justify-content-around mb-3 p-3">
                <div>
                    <h2>

                    </h2>
                </div>
                 <div>

                </div>
            </div>

        </section>
{% endblock %}