{% extends 'base.html.twig' %}
{% block body %}


    <section>
        <div class="m-4 text-center">
            <h3>Messverlauf {{room.roomName}}</h3>
        </div>
        <div class="container">
            {% for chart in charts %}
                <div class="mb-4">
                    {{ mukadi_chart(chart) }}  
                </div>
        {% endfor %}
       </div>
    </section>
{% endblock %}